<!DOCTYPE html>
<html>
<head>
    <title><% config.title %></title>
    <meta charset="utf-8">
    <%- css('css/main.css') %>
    <%- css('css/layout.css') %>
    <%- css('css/aside.css') %>
    <%- css('css/post.css') %>
</head>
<body>

<%- include('index.ejs') %>

<!-- 引入 js 文件 -->
<%- js('js/index.js') %>

</body>
</html>

